<!-- タイトルとナビゲーションボタン-->
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <!-- タイトルと本文　-->
      <h1 class="fw-light">患者情報システム</h1>
      <p class="lead text-muted">
        ぜひご利用ください!
      </p>
      <p>
        {% if user.is_authenticated %}
        <!-- ログイン中のボタン　-->
        <a href="{% url 'pims:record' %}"
           class="btn btn-primary my-2">記録する</a>
        <form method="POST" action="{% url 'accounts:logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary my-2">ログアウト</button>
        </form>
        <!-- <a href="{% url 'accounts:logout' %}"
           class="btn btn-secondary my-2">ログアウト</a>     -->
        {% else %}
        <!-- ログイン状態ではない場合のボタン　-->  
        <a href="{% url 'accounts:signup' %}"
           class="btn btn-primary my-2">今すぐサインアップ</a>
        <a href="{% url 'accounts:login' %}" 
           class="btn btn-secondary my-2">登録済みの方はログイン</a>
        {% endif %}
      </p>
    </div>
  </div>
</section>